.loginInput{
    margin: 20px;
}

.loginButton{
    margin: 20px;
}

.loginForm{
    display: flex;
    flex-direction: column;
}

.dataRow{
    display: flex;
}

.dataRow > div{
    margin: 5px 5px;
    color: red
}